.second-card{
    box-shadow: 10px 10px 8px 10px gray;
    max-width: 100%;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}   
.druga-komponenta {
    margin: 50px auto;
    background-image: url("../SecondComponent/img/Screenshot_20221113_054636.png");
    height: 200px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    

}
.left-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding-left: 10px;
}
.profile {
    color: silver;
    font-weight: 500;
    

}
