.about-name {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: flex-end;
    margin: 10px auto;
    
}
.myPhoto {
    width: 100%;
    max-width: 300px;
    border-radius: 70px;
}
.about-h1{
    text-align: left;
}
.about-p {
    text-align: left;
}
