.background-img-card {
margin-top: 20px;
display: flex;
flex-direction: row;
width: 100%;
margin: auto;
min-height: 100vh;
background-image: url(https://miro.medium.com/max/1094/1*MCn1VrXQznTi3JMtAIGK0g.jpeg);
background-size: cover;
background-position: center;
background-attachment: fixed;
color: white;
text-shadow: 1px 1px 1px black;
}
.title-background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}
